.sideBarChats {
  display: flex;
  padding: 15px;
  cursor: pointer;
  border-bottom: 1px solid #f6f6f6;
}
.sideBarChats:hover {
  background-color: #ebebeb;
}
.sideBarChats__info > h2 {
  font-size: 16px;
  margin-bottom: 4px;
}
.sideBarChats__info {
  margin-left: 17px;
}
a {
  text-decoration: none;
  color: black;
}
